.main {
    width: 600px;
    margin: 0 auto;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

button {
    cursor: pointer;
    padding: 4px 8px;
}

button.active {
    background-color: black;
    color: #fff;
}

.list {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.list li {
    height: 120px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}