.container {
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    z-index: 1;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0 30px;
}

nav::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    background-color: #fff;
    transition: all 0.3s;
}

nav.active::after {
    height: 148px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: blue;
}

.gnb {
    display: flex;
    z-index: 100;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 70px;
    font-weight: bold;
}

.gnb ul {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
}   

.gnb ul li a {
    display: block;
    padding: 12px 0;
    white-space: nowrap;
}

main {
    margin-top: 80px;
}

section {
    width: 800px;
    margin: 0 auto;
}

.slide {
    height: 600px;
    background-image: url('../images/slide_01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dimm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    opacity: 0;
}

.dimm.active {
    opacity: 1;
}
